@* @model EmployeeAttendanceManagementSystem.Models.AttendanceEditViewModel *@

@* <h2>Edit Attendance</h2> *@

@* <form method="post"> *@
@*     <div> *@
@*         <label>Name:</label> *@
@*         <input type="text" value="@Model.Name" readonly /> *@
@*     </div> *@
@*     <div> *@
@*         <label>Department:</label> *@
@*         <input type="text" value="@Model.Department" readonly /> *@
@*     </div> *@
@*     <div> *@
@*         <label>Check-In Time:</label> *@
@*         <input type="datetime-local" name="CheckInTime" *@
@*                value="@Model.CheckInTime?.ToString("yyyy-MM-ddTHH:mm") ?? " " " /> *@

@*     </div> *@

@*     <div> *@
@*         <label>Check-Out Time:</label> *@
@*         <input type="datetime-local" name="CheckOutTime" *@
@*                value="@Model.CheckOutTime?.ToString("yyyy-MM-ddTHH:mm") ?? " " " /> *@
@*     </div> *@

@*     <div> *@
@*         <button type="submit">Save</button> *@
@*     </div> *@
@* </form> *@
